fastapi
uvicorn[standard]
pydantic-settings
python-multipart
boto3
SQLAlchemy==2.0.22
asyncpg
alembic
psycopg2-binary
celery[redis]
redis
Pillow
numpy
python-dotenv
email-validator
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
